@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Syne Mono', monospace;
}

:root{
    --main-bg: #AFE0D9;
}

header{
    height: 100vh;
    width: 100vw;
    background: var(--main-bg);
}

.navigation {
    height: 10vh;
    width: 100vw;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 40%;
    padding-left: 100px;
    box-sizing: border-box;
    /* transform: translateX(-12rem); */
    font-weight: 900;
    
}
.logo h1{
    text-transform: uppercase;
    font-size: 3rem;
}
nav{
    width: 60%;
    display: flex;
    justify-content: space-around;
}

nav a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: 900;
    font-size: 17px;
    position: relative;
}
nav a:first-child{
    color: #4458dc;
}
nav a::before{
    content: '';
    position: absolute;
    top: 110%;
    left: 0;
    width: 0%;
    height: 2px;
    border-bottom: 3px solid #4458dc;
    transition: all 0.4s linear;
}
nav a:hover::before{
    width: 100%;
}

nav a::after{
    content: '';
    position: absolute;
    top: -15%;
    left: 0;
    width: 0%;
    height: 2px;
    border-top: 3px solid #4458dc;
    transition: all 0.4s linear;
}
nav a:hover::after{
    width: 100%;
}

main{
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.leftside{
    text-transform: uppercase;
}
.leftside h3{
    font-size: 40px;
    margin-bottom: 40px;
    position: relative;
}
.leftside h1{
    margin-top: 20px;
    font-size: 70px;
    margin-bottom: 25px;
}
.leftside h2{
    margin-bottom: 40px;
    font-weight: 900;
    word-spacing: 4px;
    margin-bottom: 40px;
}
.btn{
    text-decoration: none;
    margin: 30px;
    font-size: 25px;
    padding: 20px 30px;
    position: relative;
    right: 4%;
    background: transparent;
    border: 2px solid #000;
    border-radius: 40px;
}

.rightside{
    background: #4458dc;
    position: relative;
}
.rightside{
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;    
    animation: rotatemove 1s linear infinite;
    animation-direction: alternate;

}
@keyframes rotatemove{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(20deg);
    }
}